body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.notbuttn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 81%;
  margin-top: 4px;
  display: flex;
  align-items: center;
  position: relative;
  
}
.notbuttn img{
  width: 30px;
  height: 30px;
}

.user {
  display: flex;
  align-items: center;
  position: relative;
  background-color: grey;
}

.user img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user span {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
}

.user-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  width: 120px;
}

.user-menu li {
  padding: 10px;
}

.user-menu li a {
  color: #333;
  text-decoration: none;
}

.user-menu li a:hover {
  background-color: #f2f2f2;
}

.notification {
  position: absolute;
  top: 100%;
  left: 10;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  width: 120px;
}

.notification li {
  padding: 10px;
}

.notification li a {
  color: #333;
  text-decoration: none;
}

.notification li a:hover {
  background-color: #f2f2f2;
}
.yellow-bg {
  background-color: yellow;
}
.hidden {
  display: none;
}
aside {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 150x;
  background-color: transparent;
  padding: 20px;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.sidebar-menu li a:hover {
  color: #fff;
  background-color: #333;
}




.table1 {
  width: 80%;
  margin-top: 80px;
  margin-left: 100px;
  border: 3px solid black;
}
.td1{
  border: 1px solid black;
}
.row-style {
  border: 1px solid black;
}
.cell-style {
  border: 1px solid black;
  padding: 5px;
}
.writing{
  position: absolute;
  height: 20;
  width: 20;
  margin-left: 140px;
  margin-top: 15px;
}
.writingp{
  font-size: 24px;
}
.add-button{
  position: absolute;
  height: 20;
  width: 20;
  margin-left: 800px;
  margin-top: 50px;
}
.modal{
  background-color: grey;

}
.modal-content{
  width: 170px;
  background-color: grey;
  position: absolute;
  top: 30%;
  left: 45%;
  border-color: black;
  border-style: double;
}